<div class="center hero-unit">
  <h1>Qinling</h1>
  <h2>Hi,Everyone.</h2>
  <p>I am Qinling.</p>
  <p>I work at <a href="http://www.e5421.com/">广东口腔医院</a></p>
  <% 1.times do |i|%>
    <%= "I am #{i}."*30 %>
    <br>
  <% end %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
</div>
<%= link_to image_tag("rails.png", alt: "Rails") %>
